/* General Reset */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: black;
    background-color: rgb(179, 169, 169);
}

/* Header Styling */
header {
    text-align: center;
    padding: 33px;
    background: linear-gradient(45deg, #34c759, #30a14e);
    color: white;
}

/* Summary Section */

.summary {
    background: white;
    margin: 43px 467px;
    padding: 32px 0px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 600px;
}

.summary h1 {
    margin: 3px 151px;
   
}
.total{
    display: flex;
   
}
.Balance-section {
    margin: 4px 29px;
    padding: 0px 19px;
    text-align: center;
}


.income {
    color:rgb(5, 147, 5);
}

.expense {
    color: red;
}

/* Tracker Styling */
.tracker {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px;
}

.expenses, .form-section {
    width: 45%;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
}

.titles {
    width: 100%;
    border-collapse: collapse;
    background-color: rgb(47, 194, 194);
}

table th, table td {
    padding: 10px;
    text-align: left;
}

table tr:hover {
    background-color: rgb(189, 186, 186);
}

button {
    background:  rgb(57, 214, 57);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition:  0.3s ease;
}

button:hover {
    background:  rgb(37, 145, 37);
}



.form-group{
    display: flex;
    flex-direction: row;
    font-weight: bolder;
    font-size: large;
    padding: 1%;
}

.delete-btn {
    background-color:rgb(37, 37, 197);
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition:  0.3s ease;
}

.delete-btn:hover {
    background-color:  red;
}


/*===========*************-------------------******************============== */
